@media(max-width: 1460px){
    html{
        font-size: 9px;
    }
    .menu__list{
        gap: 1.5rem;
        margin-left: 0;
    }
    .header__box{
        margin-left: 0;
    }  
}

@media(max-width: 1300px){
    .events-block{
        min-width: 100%;
        overflow-x: auto;
        padding-bottom: 2rem;
    }
    .events-block__item{
        min-width: 30rem;
        padding: 2rem;
    }
    .intensive-block,
    .format-block{
        flex-direction: column;
        align-items: center;
    }
    .intensive__video,
    .format__video{
        width: 100%;
        height: 70rem;
        margin-bottom: 0rem;
    }
    .intensive-block__content,
    .format__title{
        margin-top: 4rem;
    }
    .format-block__video{
        order: -1;
        margin-left: 0;
    }
    .intensive-block__content{
        max-width: 80%;
        margin-left: 0;
    }
    .format-block__content{
        max-width: 80%;
    }
    .fees-block__content {
        max-width: 63rem;
    }
    .catalog-block__item{
        width: 28.5%;
    }
}

@media(max-width: 1050px){
    html{
        font-size: 8.5px;
    }
    .happened-block{
        flex-direction: column;
    }
    .happened-block__img{
        margin-bottom: 2rem;
        order: -1;
    }
    .happened-block__content{
        width: 100%;
        padding: 0;
    }
    .happened-block__content-text{
        max-width: 100%;
    }
    
    .events-block__item{
        min-width: 30rem;
        padding: 1.5rem;
    }
    .heading-block {
        max-width: 65rem;
        position: relative;
        top: 50%;
        transform: 0;
        color: #fff;
    }
    .heading{
        background: url('../images/home/play-bg.jpg') no-repeat;
    }
    .heading__video{
        position: relative;
        z-index: -1;
    }
    .hidden-video{
        z-index: 1;
    }
    .fees-block__content{
        max-width: 50rem;
    }
    .fees-block__img {
        margin-left: 3rem;
    }
    .catalog-block__item{
        width: 26.5%;
    }
    .search__sort::after{
        top: 18px;
    }
    .product-block__img img{
        height: 45rem;
    }
    .cart-block{
        flex-direction: column;
    }
    .cart-block__left,
    .cart-block__right{
        width: 100%;
        margin-bottom: 3rem;
    }
}




@media(max-width: 700px){
    .trainer{
        padding-bottom: 10rem;
    }
    .trainer-block__item{
        flex-direction: column;
    }
    .trainer-block__item-img{
        margin-bottom: 2rem;
    }
    .trainer-block__content{
        margin-left: 0;
        max-width: 100%;
    }
    .events-page__item,
    .news-block__item{
        width: calc(100% / 3 - 2rem);
    }
    .fees-block{
        flex-direction: column;
    }
    .fees-block__img{
        margin-bottom: 3rem;
        margin-left: 0;
        order: -1;
    }
    .fees-block__content{
        max-width: 100%;
    }
    .catalog-block{
        column-gap: 3rem;
    }
    .catalog-block__item{
        width: 47%;
    }
    .catalog-box{
        min-width: 100%;
        overflow-x: auto;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }
    .catalog-box__item{
        min-width: 10rem;
    }
    .search__sort-btn,
    .breadcrumbs__list li a{
        font-size: 14px;
    }
    .product-block{
        flex-direction: column;
    }
    .product-block__content-title {
        display: none;
    }
    .product-block__content-title--mobile{
        display: block;
    }
    .product-block__img img{
        width: 100%;
        height: 100%;
    }
    .product-block__content{
        width: 100%;
    }
    .cart-block__flex{
        gap: 2rem;
    }
    .order-block{
        flex-direction: column;
    }
    .order-block__right{
        margin-bottom: 3rem;
        width: 100%;
        order: -1;
    }
    .order-block__left{
        width: 100%;
    }
    .trainer-block__content-title{
        font-size: 20px;
    }
    .trainer-block__list-item,
    .trainer-block__content-text,
    .events-page__item-title,
    .news-block__item-title,
    .fees-block__content p{
        font-size: 16px;
    }
}




@media(max-width: 550px){
    .title,
    .fees__title{
        font-size: 26px;
    }
    .footer-block__list li a,
    .footer-block__info-text, 
    .footer-block__info-address{
        font-size: 15px;
    }
    .heading{
        background-size: cover;
        background-position: center left;
    }
    .heading-block{
        height: 270px;
    }
    .heading-block__subtitle{
        font-size: 18px;
    }
    .heading-block__title{
        font-size: 50px;
    }
    .heading__video{
        height: 230px;
        background: #14151F;
    }
    #playBtn{
        width: 60px;
    }
    .happened-block__img img{
        height: 280px;
    }
    .happened-block__content-title {
        margin-bottom: 1.5rem;
    }
    .events {
        padding-top: 5rem;
    }
    .events-block__btn{
        width: 100%;
    }
    .events-block{
        margin-bottom: 1rem;
    }
    .intensive__video,
    .format__video{
        height: 100%;
    }
    .intensive-block__content,
    .format-block__content{
        max-width: 100%;
    }
    .format__title {
        margin-bottom: 1.5rem;
    }
    .format-block__content-text{
        margin-bottom: 1.5rem;
    }
    .playBtn-1,
    .playBtn-2{
        width: 70px;
    }
    .intensive{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .tournament{
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    .tournament__title{
        margin-bottom: 0;
        max-width: 100%;
        font-size: 5rem;
        text-align: center;
    }
    .tournament-box{
        padding: 2.5rem;
    }
    .format{
        padding-top: 20rem;
        padding-bottom: 5rem;
    }
    .prize-slider__img img{
        height: 250px;
    }
    .slick-dots{
        margin-top: 1rem;
    }
    .slick-dots li button{
        width: 10px;
        height: 10px;
    }
    .gallery-block__img img{
        width: 100%;
        height: 150px;
    }
    .gallery-block__img{
        width: 47%;
    }
    .gallery{
        padding-top: 5rem;
    }
    .reviews-slider .slick-slide{
        padding:  0;
        transition: all .5s ease-in;
    }
    .reviews-slider .slick-center{
        scale: 1;
        transition: all .5s ease-in;
    }
    .reviews-slider__title{
        margin-bottom: 2rem;
    }
    .reviews-slider{
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    .footer-block{
        flex-direction: column;
        align-items: center;
    }
    .footer{
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    .footer-block__info::before{
        left: -33px;
    }
    .footer-block__item{
        width: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        text-align: center;
    }
    .footer-block__info.address.footer-block__info::before{
        left: -26px;
    }
    .footer-block__info.phone.footer-block__info::before{
        left: -38px;
    }
    .trainer__title,
    .trainer-block__content-title,
    .news__title{
        margin-bottom: 2rem;
    }
    .breadcrumbs {
        padding-top: 2.7rem;
        margin-bottom: 2rem;
    }
    .trainer-block__list-item::before{
        left: -22px;
        top: 3px;
    }
    .trainer-block__item{
        margin-bottom: 5rem;
        align-items: center;
    }
    .trainer{
        padding-bottom: 2rem;
    }
    .events-page__item,
    .news-block__item{
        padding: 2rem;
        width: calc(100% / 2 - 1rem);
    }
    .events-page__item-title{
        margin-bottom: 1.5rem;
    }
    .events-page__title{
        margin-bottom: 3rem;
    }
    .events-page{
        padding-bottom: 8rem;
    }
    .news-block__item{
        padding: 1.5rem;
    }
    .news-block__item-img{
        margin-bottom: 1rem;
    }
    .news-block__item-img img{
        height: 16rem;
    }
    .news-block__item-title{
        margin-bottom: 1rem;
        padding: 0;
    }
    .news-block__item-link{
        padding-left: 0;
        margin-bottom: 0;
    }
    .news{
        padding-bottom: 5rem;
    }
    .news-block{
        margin-bottom: 4rem;
    }
    .fees__title{
        margin-bottom: 2rem;
    }
    .fees{
        padding-bottom: 5rem;
    }
    .catalog-block__item{
        padding: 4rem;
        width: 100%;
    }
    .catalog-search__title{
        display: none;
    }
    .search__sort {
        width: 100%;
    }
    .catalog-block__item-title{
        font-size: 16px;
    }
    .catalog-search{
        margin-bottom: 2rem;
    }
    .catalog-block__item-img {
        margin-bottom: 3rem;
    }
    .catalog-block{
        margin-bottom: 3rem;
        row-gap: 0;
    }
    .catalog{
        padding-bottom: 5rem;
    }
    .catalog-box{
        gap: 3rem;
    }
    .catalog-box__item{
        width: 10rem;
        min-width: auto;
        font-size: 16px;
    }
    
    .catalog__title{
        margin-bottom: 3rem;
    }
    .product-block__content-title--mobile{
        margin-bottom: 1.5rem;
        font-size: 22px;
    }
    .product {
        padding-top: 0rem;
        padding-bottom: 3rem;
    }
    .product-block__content-price{
        margin-bottom: 2rem;
    }
    .product-block__content-desc,
    .product-block__line{
        margin-bottom: 2rem;
    }
    .product-block__content-desc p{
        font-size: 16px;
    }
    .product-block__choice select{
        height: 4.5rem;
    }
    .product-block__bottom-cart{
        width: 50%;
    }
    .product-block__choice{
        margin-bottom: 2.5rem;
    }
    .product-block__bottom{
        padding-top: 2rem;
    }
    .pro-qty,
    .product-block__bottom-cart{
        height: 5rem;
        line-height: 5rem;
    }
    .product-block{
        margin-bottom: 4rem;
    }
    .product__upsell-title{
        margin-bottom: 2rem;
    }
    .product-upsell .catalog-block__bottom-price{
        display: none;
    }
    .catalog-block__item{
        display: flex;
        flex-direction: column;
    }
    .catalog-block__bottom{
        margin-top: auto;
    }
    .product-upsell .catalog-block__item{
        margin-bottom: 2rem;
        padding: 1rem;
        width: 45%;
    }
    .product-upsell .catalog-block__item-img img{
        width: 100%;
        height: 100%;
    }
    .product-upsell .catalog-block__bottom-btn{
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
    .product-upsell .catalog-block__item-img{
        margin-bottom: 1rem;
    }
    .catalog-block__item-title{
        font-size: 14px;
    }
    .cart-block__inner{
        flex-direction: column;
        margin-left: .5rem;
    }
    .cart-block__left-remove{
        width: 100%;
        margin-left: 0;
    }
    .cart-block__left-img img{
        min-width: 7rem;
    }
    .cart-block__left-price,
     .cart-block__left-order{
        font-size: 18px;
     }
     .cart-block__flex .pro-qty{
        width: 10rem;
     }
     .cart-block__flex .quantity {
        width: 4rem;
     }
     .cart-block__flex .qty-btn img{
        width: 15px;
     }
     .cart-block__left-title{
        margin-bottom: 1.5rem;
     }
     .cart-block__flex{
        gap: 1.5rem;
     }
     .cart-block__right-price p{
        margin-bottom: 1rem;
        font-size: 16px;
     }
     .cart{
        padding-bottom: 5rem;
     }
     .cart-block__item{
        margin-bottom: 7rem;
     }
     .cart-block__right-link,
     .cart__btn{
        padding: 1.7rem;
     }
     .order {
        padding-top: 0rem;
        padding-bottom: 5rem;
    }
    .order__title{
        margin-bottom: 2rem;
    }
    .order-block__info,
    .order-block__registration,
    .order-block__way .order-block__label,
    .order-block__way-label{
        width: 100%;
    }
    .order-block__info-name{
        font-size: 14px;
    }
    .order-block__custom-checkbox{
        width: 20px;
        height: 20px;
    }
    .order-block__form-checkbox:checked+.order-block__custom-checkbox{
        background: url('../images/order-elps-mobile.svg') no-repeat;
        background-position:center;
    }
    .order-block__form-label p,
    .order-block__label p,
    .order-block__way-name{
        font-size: 16px;
    }
    .order-block__label{
        margin-left: 2rem;
    }
    .order-block__registration,
    .order-block__way-title{
        margin-bottom: 3rem;
    }
    .order-block__way .order-block__label{
        margin-bottom: 2rem;
    }
    .order-block__way-btn{
        padding: 1.7rem;
    }
    .order-block__way-custom-checkbox{
        min-width: 20px;
        height: 20px;
    }
    .registration-block{
        width: 33rem;
    }
    .registration-block__title{
        margin-bottom: 3rem;
        font-size: 26px;
    }
    .registration-block__form-input,
    .registration-block__form-btn{
        padding: 1.5rem;
    }
    .registration{
        padding-top: 5rem;
        padding-bottom: 10rem;
    }
}