.nav-icon{
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
    z-index: 6;
    border-radius: 50%;
}
.nav-icon__middle{
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #F7F7FF;
    transition: all .2s ease-in;
}
.nav-icon__middle::before,
.nav-icon__middle::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #F7F7FF;
    transition: all .2s ease-in;
}
.nav-icon__middle::before{
    top: 8px;
    transition: all .2s ease-in;
}
.nav-icon__middle::after{
    bottom: 8px;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle{
    background-color: transparent;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::before{
    transform: rotate(45deg);
    top: 0;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::after{
    transform: rotate(-45deg);
    bottom: 0;
    transition: all .2s ease-in;
}
.header__box--mobile{
    display: none;
}
.header.header-bg .nav-icon__middle::before,
.header.header-bg .nav-icon__middle::after{
    background-color: #000;
    transition: all .2s ease-in;
}
.header.header-bg .nav-icon__middle {
    background-color: #000;
    transition: all .2s ease-in;
}
.header.header-bg .nav-icon.nav-icon--active .nav-icon__middle::before,
.header.header-bg .nav-icon.nav-icon--active .nav-icon__middle::after{
    background-color: #fff;
    transition: all .2s ease-in;
}
.header.header-bg .nav-icon.nav-icon--active .nav-icon__middle,
.header.header-page .nav-icon.nav-icon--active .nav-icon__middle{
    background-color: transparent;
    transition: all .2s ease-in;
}
.header.header-page .nav-icon__middle::before,
.header.header-page .nav-icon__middle::after,
.header.header-page .nav-icon__middle{
    background-color: #000;
    transition: all .2s ease-in;
}
.header.header-page .nav-icon.nav-icon--active .nav-icon__middle::before,
.header.header-page .nav-icon.nav-icon--active .nav-icon__middle::after{
    background-color: #fff;
    transition: all .2s ease-in;
}




@media(max-width: 1150px){
    .nav-icon{
        margin-top: .5rem;
        position: relative;
        display: block;
        z-index: 4;
    }
    .menu{
        position: fixed;
        width: 100%;
        // height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: #14151F; 
        right: 0;
        top: 0;
        color: #F7F7FF;
        z-index: 2;
        border-radius: 0px;
        transform: translateX(-200%);
        transition: all .5s ease-in;
        z-index: 3;
    }
    .header__box-btn{
        display: none;
    }
    .header__box-btn--mobile{
        display: block;
        margin-bottom: 3rem;
    }
    .menu__list{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .menu__list li{
        margin-bottom: 2rem;
    }
    
    .menu__list li a{
        text-align: center;
        font-size: 18px;
    }
    .menu.nav--active{
        transform: translateX(0%);
        transition: all .5s ease-in;
        margin-left: 0;
    }
    .header__box--mobile{
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    .header__box--mobile .footer-block__info{
        width: 16rem;
        margin-bottom: 2.6rem;
        text-align: center;
    }
    .header__box--mobile .footer-block__info.phone.footer-block__info::before{
        left: -23px;
    }
    .header__box--mobile .footer-block__info.email.footer-block__info::before{
        left: -21px;
    }
}


@media(max-width: 550px){
    .logo{
        width: 120px;
    }
    .menu__list li a{
        font-size: 16px;
    }
    .header__box--mobile .footer-block__info::before{
        left: -28px;
    }
}
