.registration {
    padding-top: 10rem;
    padding-bottom: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.registration-block {
   width: 47rem;
}
.registration-block__title {
    margin-bottom: 5rem;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
}
.registration-block__form label p{
    margin-bottom: 1rem;
}
.registration-block__bottom{
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}
.registration-block__form-input {
    width: 100%;
    padding: 2rem;
    margin-bottom: 2.5rem;
    border-radius: 4px;
    border: 1px solid #DCDDE5;
    background: #FFF;
}
.registration-block__form-link {
    width: 20rem;
    margin-bottom: 4rem;
    margin-left: auto;
    display: block;
    font-weight: 700;
    color: #0B7DE5
}
.registration-block__form-btn {
    display: block;
    width: 100%;
    padding: 2rem;
    border-radius: 4px;
    border: 2px solid #7456F1;
    background: #FFC078;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #FFF;
}
.registration-block__form-btn:hover{
    background:  #FFA844;
}
.registration-block__bottom-password{
    color: #FFC078;
}
.registration-block__bottom-link{
    color: #0B7DE5
}
